{{!-- Chat Section --}}
<div class="chat-list">
    <div class="chat-info">
        <div class="img-circle"></div>
        <div class="details">
            <h4>{{servername}}</h4>
            <h5>{{discription}}</h5>
        </div>

        <div class="status">
            <div class="online">
                <h6>{{active}}</h6>
            </div>
            <div class="server-status">
                <h6>{{users}} people</h6>
                <div class="online-circle blink"></div>
            </div>
        </div>
    </div>

    <div class="cardview">
        <a class="ripple-card needsclick" href="#">
            <div class="crd-header">
                <h3>Visit Community</h3>
            </div>
        </a>
    </div>
</div>
<br>