{{!-- Main root page --}}
<div id="root" class="page">
    {{!-- Fixed top navbar --}}
    <div id="navbar" class="navbar">
        <a class="menu needsclick">
            <div class="menu-button">
                <i class="icon-notes">
                </i>
            </div>
        </a>
        <a href="#" class="needsclick">
            <h1 class="title">iTechu</h1>
        </a>

        <a class="setting needsclick" href="#">
            <div class="setting-button">
                <i class="icon-cog">
                </i>
            </div>
        </a>
    </div>

    {{!-- Container body --}}
    <div id="body-view" class="container">
        <div class="header">
            <a class="needsclick">
                <div id="facebook-app" class="facebook">
                    <div class="facebook-icon">
                        <i class="icon-facebook"></i>
                    </div>
                    <div class="facebook-txt">
                        <h3>Open</h3>
                        <h5>Facebook</h5>
                    </div>
                </div>
            </a>
            <a id="support-gcash" class="needsclick">
                <div class="support">
                    <div class="support-icon">
                        <i class="icon-attach_money"></i>
                    </div>
                    <div class="support-txt">
                        <h3>Support</h3>
                        <h5>developer</h5>
                    </div>
                </div>
            </a>
        </div>
        <br>
    </div>

    {{!-- Fixed bottom bar --}}
    <div id="bottombar" class="bottom-bar">
        <a class="needsclick" href="#">
            <div class="ripple btn active">
                <i class="icon-users"></i>
                <p>Community</p>
            </div>
        </a>
        <a class="needsclick" href="#">
            <div class="ripple btn">
                <i class="icon-bubble"></i>
                <p>Chats</p>
            </div>
        </a>
        <a class="needsclick" href="#">
            <div class="ripple btn">
                <i class="icon-make-group"></i>
                <p>Ai bots</p>
            </div>
        </a>
    </div>
</div>