<div id="server-page" class="page">
    <div id="navbar" class="navbar">
        <a class="menu needsclick">
            <div class="menu-button">
                <i class="icon-arrow-left2">
                </i>
            </div>
        </a>
        <a href="#" class="needsclick">
            <h1 class="title">iTechu</h1>
        </a>

        <a class="setting needsclick" href="#">
            <div class="setting-button">
                <i class="icon-cog">
                </i>
            </div>
        </a>
    </div>

    <div class="container">
        
    </div>
</div>